# Database URL for PostgreSQL
DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/DB_NAME"
# Better Auth configuration
BETTER_AUTH_PUBLIC_URL=http://localhost:3000
# Generate a secret key: `pnpm dlx auth@latest secret`
BETTER_AUTH_SECRET=GENERATED_SECRET
